#my {
    zoom: 75%;
}

.search-table-outter {
    overflow-x: scroll;
}



.search-table,
td,
th {
    border-collapse: collapse;
}

th {
    padding: 20px 5px;
    font-size: 15px;
    color: #fff;
}

td {
    padding: 5px 10px;
    height: 35px;
}

.search-table-outter {
    overflow-x: scroll;
}

th,
td {
    min-width: 200px;
}

.dashboardSubmitButton {
    visibility: hidden;
    display: none;
}

.card:hover .dashboardSubmitButton {
    display: inline;
    visibility: visible;

}

.post-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;

}

#like-button {
    color: white;
    all: unset;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.4s;
}

#like-button:hover {
    transform: scale3d(1.2, 1.2, 1.2);
}

#dislike-button {
    color: white;
    all: unset;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.4s;
}

#dislike-button:hover {
    transform: scale3d(1.2, 1.2, 1.2);
}

#post-card {
    background-color: #181818;
    color: white;
    transition: 0.5s;

}

#post-card:hover {
    background-color: #535353;
    color: white;
    transform: scale(1.04);

}

#playlist-card {
    background-color: #181818;
    color: white;
    transition: 0.5s;

}

#playlist-card:hover {
    background-color: #535353;
    color: white;
    transform: scale(1.04);
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(36, 28, 39), #000000);
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



#scroll-list::-webkit-scrollbar {
    display: none;
}

#scroll-list {
    padding-bottom: 50px;

}

div#dashboard {
    background-color: #181818;
    color: white;
    opacity: 0.9;
    height: 40%;
    transition: 0.4s;
    border-radius: 15px;
}

div#dashboard:hover {
    background-color: #242424;

}

#profile-dashboard i {
    font-size: 40px;
    margin: 10px;
}

.dashboard-stat {
    color: #B3B3B3;

}

.dashboard-stat:hover {
    color: white;
}

.dashboard-stat:hover i {
    color: white;
}


.user-image {
    transition: 0.5s;
}

.user-image:hover {
    transform: scale(1.06);
}

.profile-card {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition: 0.4s;
    border-width: 0px;


}

.profile-card:hover {
    border-radius: 0px;
    transform: scale(1.3);

}

#profile-div {
    background-color: rgba(255, 99, 71, 0);
    border-radius: 0px;

}


#create-card {
    background-color: #181818;
    color: white;
    transition: 0.5s;
    border-radius: 15px;

}

#playlist_name_post,
#playlist_description_post,
#create-select,
#image_card_create {
    background-color: #302F2F;
    border-width: 0px;
    color: white;
    border-radius: 10px;

}

#create-card:hover {
    background-color: #191919;
    color: white;
    transform: scale(1.04);

}

#show_card {
    background-color: #302F2F;
    font-size: 1.1rem;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 2rem;

}

nav {
    background-color: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    padding-left: 20px;
    font-size: 1.2rem;
}

#comment_form #comment {
    transition: 0.3s;
    border: none;
    border-bottom: #fff solid 1px;
    background-color: rgba(255, 255, 255, 0);
}

#comment_form #comment::placeholder {
    color: white;


}

#comment_form #comment:hover {
    color: white;
    transform: scale(1.04);
    border-bottom: #fff solid 3px;
}

#dashboard {
    width: 100%;
    padding: 4rem;
}

#deleteCommentDiv {
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.reaction-label {
    font-size: 1.1rem;
}